# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode settings
.vscode/

# macOS / Linux / Windows garbage
.DS_Store
Thumbs.db

# Logs
*.log

# MyPy / Pyright
.mypy_cache/
.pyright/

# Coverage
htmlcov/
.coverage
.coverage.*

# Local config
*.env
.env.*
